nav {
    background-color: #242322;
  }
footer {
    background-color: #242322;
  }
#Inicio {
    background-image: url("../img/winter_i_love_you.jpg");
  }
#Contacto {
    background-image: url("../img/winter_corner.jpg");
  }