@import "_variables.scss";
// figure {
//     position: relative;
//     overflow: hidden;
//     cursor: pointer;
//   }
  
//   figure:before {
//     content: '';
//     width: inherit;
//     height: inherit;
//     position: absolute;
//     opacity: 1;
//     transition: opacity .1s linear;   
//   }
  
//   figure:hover:before { 
//     opacity: .75;
//   }
  
//   figure a {
//     width: 100%;
//     height: 20rem;  
//     color: $azul;
//     text-align: center;
//     position: absolute;
//     background-color: $blanco;
//     top: 100%; 
//     transition: top .3s linear;
//   }
  
//   figure:hover a {    
//     top: 70%;
//     opacity: .75;
//   }


figure {
    position: relative;
    overflow: hidden;
  }
  figure a {  
    // height: 0;
    // margin: 1rem;
    
    // padding: 100% 0; /* == mitad de la imagen (height) */
    
    color: $blanco;
    text-align: start;  
    background: $azul;
    transition: opacity .4s linear;
    cursor: pointer;  
    position: absolute;
    top: 0;
    right: .8rem;
    bottom: auto;
    left: .8rem;
    opacity: 0;
  }
  
  figure:hover a {
    opacity: .75;  
  }