@import "_variables.scss";
/* INICIO  */
#inicio {
  background-image: url("../img/index/winter_I_love_you.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  & h1 {
    font-weight: 400;
    margin-right: 45vw;
    margin-top: 40vh;
    font-size: 2rem;
    color: $blanco;
    & a {
      font-weight: 400;
      font-size: 2rem;
      color: $blanco;
    }
  }
  & a {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}
.inicioFondo {
  height: 100vh;
  position: relative;
  z-index: 1;
}
@include desktop {
  .atrasDeImagen {
    width: 100%;
    height: 2.5rem;
    background: $blanco;
    position: fixed;
    z-index: 1;
    color: $azul;
    border-bottom: 0.05rem solid $azul;
  }
}
/* PROYECTOS  */
#proyectos h2, #proyectos .h2 {
  width: auto;
  background-color: #e5e9ee;
  color: #132f57; }
#proyectos a {
  font-size: 1.8rem;
  color: #132f57; }
  @media screen and (min-width: 768px) {
    #proyectos a {
      font-size: 2.5rem; }
    #proyectos a:hover {
      color: #7e8288; } }
#proyectos {
  width: 100%;
  height: auto;
  background-color: $blanco;
  text-decoration-color: $azul;
  block-size: auto;
  padding-top: $padmob;
  @include desktop {
    & {
      padding-top: $padesk;
    }
  }
  @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
  }
  
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  
  /* medium and up screens */
  @media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
  }
  
  .carousel-inner .carousel-item-end,
  .carousel-inner .carousel-item-start { 
  transform: translateX(0);
  }
  
  .card {
    border: none;
    border-radius: none;
  }
  .bg-transparent {
    --bs-bg-opacity: .3;
    background-color: $azul !important;
    border-radius: 15rem;
  }
  
  .pieContacto {
    background-color: rgba(19, 47, 87,0.8);
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    
   
    a {
      font-size: 1.2rem;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 30px;
      text-decoration: unset;
      color: $blanco;
      margin: auto;
  
      &:hover {     
        opacity: 0.7;
      }
      
    }
  }
  .row {
    width: 100%;
    --bs-gutter-x: 0rem;
  }
  h5 {
    font-size: 1.2rem;
    width: 100%;
    color: black;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
}
/* BIO*/  
#bio {
  background-color: $azul;
  padding-top: $padmob;
  @include desktop {
    & {
      padding-top: $padesk;
    }
  }
  & a {
    color: $blanco;
    font-size: 2.5rem;
    margin: 3rem;
    &:hover {
      color: $gris;
    }
  }
  
  & img {
    border: 0.15rem solid $blanco;
    margin-bottom: 1.5rem;
  }
  @include desktop {
    .imgRedonda.floatLeft {
      float: left;
      margin-bottom: 0;
    }
  }
}
/* STATEMENT  */
#statement {
  padding-top: $padmob;
  width: auto;
  background-color: $blanco;
  text-decoration-color: $azul;
  @include desktop {
    & {
      padding-top: $padesk;
    }
  }
  & p {
    width: auto;
    background-color: $blanco;
    color: $azul;
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 1%;
  }
  & h2 {
    width: auto;
    background-color: $blanco;
    color: $azul;
  }
  & a {
    font-size: 2.5rem;
  }
  & img {
    width: 70%;
    border-radius: 2rem;
    margin: 5%;
    transition: all 2s;
    &:hover {
      width: 80%;
    }
    @include desktop {
      & {
        width: 70%;
        border-radius: 2rem;
      }
    }
  }
}
/* CONTACTO  */
#contacto {
  background-image: url("../img/index/contacto.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & .transparencia {
    width: 100%;
    height: auto;
    font-size: 1.7rem;
    background-color: #0b1829;
    opacity: 0.8;
    z-index: 8000;
  }
  & .caja {
    height: 100%;
    font-size: 1.7rem;
    background-color: #0b1829;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    vertical-align: bottom;
    @include desktop {
      & {
        height: 81vh;
      }
    }
  }
  & .formulario {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
  }
  & ul li {
    text-align: left;
    margin: 0 1.2rem 0 0;
    list-style-type: none;
    margin: 5%;
    & a {
      margin: 0 1.2rem 0 0;
      color: $blanco;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 1.5rem;
      &:hover {
        color: $gris;
      }
    }
  }
  & h2 {
    padding-top: $padmob;
    @include desktop {
      & {
        padding-top: $padesk;
      }
    }
  }
  & input {
    font-size: 1.7rem;
    font-weight: bold;
    color: $azul;
    padding-left: 2%;
  }
  & textarea {
    font-size: 1.5rem;
    font-weight: bold;
    color: $azul;
    padding-left: 2%;
    padding-top: 2%;
  }
  & .boton {
    border: 0.5rem solid #0b1829;
    opacity: 1;
    background-color: #0b1829;
    color: $blanco;
    transition: all 1s;
    &:hover {
      color: $gris;
      font-size: 2rem;
    }
  }
}
.btnModal{
  background-color: $azul;
  color: $blanco;
  width: 6rem;
  text-align: center;
  border-radius: 1rem;
  font-size: 1rem;
}
.textoModal{
  color: $azul;
 text-align: center;
 font-size: 1.3rem; 
}
.modalRow{
  justify-content: center;
}
