<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]>      <html class="no-js"> <!--<![endif] -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paz Secundini</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="../img/pazsecundini4x4.png" />
    </head>
    <body>
        <!-- NAVEGACION -->
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="bio.html">Bio</a></li>
                <li><a href="sobre_mi_trabajo.html">Sobre mi trabajo</a></li>
                <li><a href="contacto.html">Contacto</a></li>   
            </ul>
        </nav>        
        <!-- SECCION -->
        <section id="bio">
            <h1>Bio</h1>
            <img src="../img/pazsecundini4x4.png" alt="imagen de perfil">
            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original.</p>
            <p class="centrado">
                <a href="#sobre_mi_trabajo"><img src="../flecha.jpg" width="50"/></a>
            </p>
        </section>
        <!-- PIE -->
        <footer>
            <a title="Instagram" href="http://www.instagram.com" target="_blank">
                <img src="../img/instagram_socialnetwork_20033.png" width="3%" alt="Instagram" />
            </a>
            <a title="WhatsApp" href="https://web.whatsapp.com/" target="_blank"><img src="../img/whatsappmessage_conversation_whatsap_7149.png" width="3%" alt="WhatsApp" /></a>
            <a title="Email" href="http://www.gmail.com" target="_blank"><img src="../img/new_mail_gmailmessage_7038.png" width="3%" alt="Email" /></a>
            <a title="Mapa" href="https://www.google.com/maps/place/Rosario,+Santa+Fe/data=!4m2!3m1!1s0x95b6539335d7d75b:0xec4086e90258a557?sa=X&ved=2ahUKEwijs726yZH2AhX_yDgGHWJoAWoQ8gF6BAgHEAE" target="_blank"><img src="../img/map-map-marker-icon_34394.png" width="3%" alt="Mapa" /></a>
        </footer>
        <!-- SCRIPTS -->
        <script src="" async defer></script>
    </body>
</html>