<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]>      <html class="no-js"> <!--<![endif] -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="../img/pazsecundini4x4.png" />
    </head>
    <body>
        <!-- NAVEGACION -->
        <div class="atrasDeImagen">
            <nav>
                <a class="textIzquierda marginIzquierda" href="index.html">Paz Secundini</a>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="bio.html">Bio</a></li>
                    <li><a href="sobre_mi_trabajo.html">Sobre mi trabajo</a></li>
                    <li><a href="contacto.html">Contacto</a></li>   
                </ul>
            </nav>
        </div>
            <nav>
                 <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="bio.html">Bio</a></li>
                    <li><a href="sobre_mi_trabajo.html">Sobre mi trabajo</a></li>
                    <li><a href="contacto.html">Contacto</a></li>   
                </ul>
            </nav>
        <!-- SECCION -->
        <section id="bio">

            <h2>Bio</h2>
            <img class="imgRedonda floatLeft" src="../img/pazsecundini4x4.png" alt="imagen de perfil">
            <p>Me gradué de Licenciada en Bellas Artes con Mención en Pintura en 2014 (U.N.R)</p>
            <p>También me formé en oficios y he participado en exposiciones colectivas desde 2007.</p>
            <p>Mi búsqueda siempre está en construir desde el arte y la naturaleza que es lo que me inspira. Todo mi trabajo (y mi vida) está atravesado por los materiales y los tiempos de la naturaleza, y pensado también para generar el menor impacto negativo posible en el ambiente. Me interesa el cuidado del ambiente y esto es algo que intento reflejar/incorporar en mi obra.</p>
            <p>Crecí en Entre Ríos con fines de semana en el campo, siempre muy cercana a la naturaleza y sintiendo un inmenso amor hacia los animales. Realmente amo el invierno, el mar y los animales. Comparto mi hogar con un perro y dos gatos que siempre están cerca acompañando mi proceso creativo.</p>
            <p>Soy una persona curiosa por lo que disfruto conociendo procesos y materiales para hacer todo lo que necesito para crear y para mi vida cotidiana.</p>
            <p>Pinto, dibujo, bordo, hago cerámica, coso, tiño con tintes naturales, hago fieltro y papel (reciclado y de plantas), encuaderno, saco fotos (estenopeicas, instantáneas y analógicas) las cuales revelo yo misma, restauro, preparo acuarelas y tintas con pigmentos naturales, hago mis propios cosméticos y en el último tiempo he estado experimentando con biomateriales y revelados ecológicos para fotografía.</p>
            <p>Me atraen los procesos largos, antiguos en desuso, de otra época.</p>
            <p>Todas mis obras se relacionan entre si y tiene que ver por lo general con lugares y objetos que he habitado (o me han habitado) en esta u otra vida y con los que tengo cierta fascinación.</p>
            <p>Soy artista de la galería Almacén de Arte (San Nicolás de los Arroyos, Pcia. De Buenos Aires) con la que he participado en ferias de arte durante los últimos años y junto con los cuales formo parte de Mercado de Arte Bonaerense.</p>
            <p>Actualmente doy clases de cerámica en mi taller en Rosario, Argentina que es donde vivo.</p>

        </section>
        <!-- PIE -->
        <footer>
            <a title="Instagram" href="http://www.instagram.com" target="_blank">
                <img src="../img/instagram_socialnetwork_20033.png" width="3%" alt="Instagram" />
            </a>
            <a title="WhatsApp" href="https://web.whatsapp.com/" target="_blank"><img src="../img/whatsappmessage_conversation_whatsap_7149.png" width="3%" alt="WhatsApp" /></a>
            <a title="Email" href="http://www.gmail.com" target="_blank"><img src="../img/new_mail_gmailmessage_7038.png" width="3%" alt="Email" /></a>
            <a title="Mapa" href="https://www.google.com/maps/place/Rosario,+Santa+Fe/data=!4m2!3m1!1s0x95b6539335d7d75b:0xec4086e90258a557?sa=X&ved=2ahUKEwijs726yZH2AhX_yDgGHWJoAWoQ8gF6BAgHEAE" target="_blank"><img src="../img/map-map-marker-icon_34394.png" width="3%" alt="Mapa" /></a>
        </footer>
        <script src="" async defer></script>
    </body>
</html>