<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]>      <html class="no-js"> <!--<![endif] -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paz Secundini</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="../img/pazsecundini4x4.png" />
    </head>
    <body class="grid">
        <!-- NAV MOBILE -->
            <nav class="navMobile">
                 <ul class="ulMobile">
                    <li><a href="index.html"><img src="../img/lluvioso.gif" alt=""></a></li>
                    <li><a href="galeria.html"><img src="../img/paleta-de-pintura.gif" alt=""></a></li>
                    <li><a href="bio.html"><img src="../img/redes-sociales.gif" alt=""></a></li>
                    <li><a href="statement.html"><img src="../img/cuaderno.gif" alt=""></a></li>
                    <li><a href="contacto.html"><img src="../img/mensaje.gif" alt=""></a></li>   
                </ul>
            </nav>
            <!-- NAV DESKTOP -->
            <div class="atrasDeImagen">
                    <nav class="navDesktop">
                        <a class="textIzquierda marginIzquierda negrita" href="cv.html">Paz Secundini</a>
                        <ul class="ulDesktop">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="bio.html">Bio</a></li>
                            <li><a href="statement.html">Statement</a></li>
                            <li><a href="contacto.html">Contacto</a></li>   
                        </ul>
                    </nav>
            </div>
                    <nav class="navDesktop">
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="bio.html">Bio</a></li>
                            <li><a href="statement.html">Statement</a></li>
                            <li><a href="contacto.html">Contacto</a></li>   
                        </ul>
                    </nav>
        <!-- SECCION -->
        <section id="contacto">
            <div class="transparencia">
            <h2>Contacto</h2>
            <div class="flex">
            <div class="caja">
            <form action="" id="form">
                <div class="form">
                    <label for="nombre">Nombre</label>
                    <input type="text" nombre="nombre" id="nombre">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                    <input type="submit" value="Enviar mensaje">
                </div>
            </form>
            </div>
            <div class="caja">
            <ul>
                <li>
                    <a title="Instagram" href="http://www.instagram.com" target="_blank">
                    <img src="../img/instagram_socialnetwork_20033.png" alt="Instagram" />
                    Instagram
                    </a>
                </li>
                <li>
                    <a title="WhatsApp" href="https://web.whatsapp.com/" target="_blank">
                    <img src="../img/whatsappmessage_conversation_whatsap_7149.png" alt="WhatsApp" />
                    WhatsApp
                    </a>
                </li>
                <li>
                    <a title="Email" href="http://www.gmail.com" target="_blank">
                    <img src="../img/new_mail_gmailmessage_7038.png" alt="Email" />
                    Mail
                    </a>
                </li>
                <li>
                    <a title="Mapa" href="https://www.google.com/maps/place/Rosario,+Santa+Fe/data=!4m2!3m1!1s0x95b6539335d7d75b:0xec4086e90258a557?sa=X&ved=2ahUKEwijs726yZH2AhX_yDgGHWJoAWoQ8gF6BAgHEAE" target="_blank">
                    <img src="../img/map-map-marker-icon_34394.png" alt="Mapa" />
                    Ubicacion
                    </a>
                </li>
            </ul>
            </div>
            </div>
            </div>
        </section>
        <!-- PIE -->
        <footer>
            
        </footer>
        <script src="" async defer></script>
    </body>
</html>