<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]>      <html class="no-js"> <!--<![endif] -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paz Secundini</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="../img/pazsecundini4x4.png" />
    </head>
    <body>
        <!-- NAVEGACION -->
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#galeria">Galeria</a></li>
                <li><a href="#bio">Bio</a></li>
                <li><a href="#sobre mi trabajo">Sobre mi trabajo</a></li>
                <li><a href="#contacto">Contacto</a></li>   
            </ul>
        </nav>
        <!-- SECCION -->
        <section id="inicio">
            <h1>Paz Secundini</h1>
            <h5>página de artista</h5>
            <br><br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br>
        </section>
        <!-- SECCION -->
        <section id="galeria">
            <h1>Galeria</h1>
            <img src="../img/galeria/acorn_dye.JPG" alt="imagen" width="200">
            <img src="../img/galeria/almod_peel_ink_and_crystals.JPG" alt="imagen" width="200">
            <img src="../img/galeria/autumn_leaves.jpg" alt="imagen" width="200">
            <img src="../img/galeria/autumn_leaves.jpg" alt="imagen" width="200">
            <img src="../img/galeria/botanica_invernal.JPG" alt="imagen" width="200">
        </section>
        <!-- SECCION -->
        <section id="bio">
            <h1>Bio</h1>
            <img src="../img/pazsecundini4x4.png" alt="imagen de perfil">
            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original.</p>
        </section>
        <!-- SECCION -->
        <section id="sobre mi trabajo">
            <h1>Sobre mi trabajo</h1>
            <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido. También es una composición de caracteres imprimibles generados por un algoritmo de cifrado que, aunque no tienen sentido para cualquier persona, sí puede ser descifrado por su destinatario original.</p>
        </section>
        <!-- SECCION -->
        <section id="contacto">
            <h1>Contacto</h1>
            <form action="" id="form">
                <fieldset>
                    <legend>Si llegaste hasta acá dejame un mensaje</legend>
                    <table border="1">
                        <td>
                            <label for="nombre">Nombre</label>
                            <input type="text" nombre="nombre" id="nombre">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                        </td>
                        <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107134.56934196984!2d-60.76667965536046!3d-32.95218976027299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b6539335d7d75b%3A0xec4086e90258a557!2sRosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1645454216485!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></td>
                   
                    </tr>
                </table>
                <input type="reset" value="Cancelar">
                <input type="submit" value="Enviar mensaje">
                <br>
                
            </fieldset>
            </form>
        </section>
        <!-- PIE -->
        <footer>
            <a title="Instagram" href="http://www.instagram.com" target="_blank"><img src="../img/pazsecundini4x4.png" width="50" alt="Instagram" /></a>
            <a title="WhatsApp" href="https://web.whatsapp.com/" target="_blank"><img src="../img/pazsecundini4x4.png" width="50" alt="WhatsApp" /></a>
            <a title="Email" href="http://www.gmail.com" target="_blank"><img src="../img/pazsecundini4x4.png" width="50" alt="Email" /></a>
        </footer>
        <!-- SCRIPTS -->
        <script src="" async defer></script>
    </body>
</html>