<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]>      <html class="no-js"> <!--<![endif] -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paz Secundini</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="../img/pazsecundini4x4.png" />
    </head>
    <body class="grid">
        <!-- NAV MOBILE -->
            <nav class="navMobile">
                 <ul>
                    <li><a href="index.html"><img src="../img/lluvioso.gif" alt=""></a></li>
                    <li><a href="galeria.html"><img src="../img/paleta-de-pintura.gif" alt=""></a></li>
                    <li><a href="bio.html"><img src="../img/redes-sociales.gif" alt=""></a></li>
                    <li><a href="statement.html"><img src="../img/cuaderno.gif" alt=""></a></li>
                    <li><a href="contacto.html"><img src="../img/mensaje.gif" alt=""></a></li>   
                </ul>
            </nav>
            <!-- NAV DESKTOP -->
            <div class="atrasDeImagen">
                    <nav class="navDesktop">
                        <a class="textIzquierda marginIzquierda negrita" href="index.html">Paz Secundini</a>
                        <ul class="ulDesktop">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="bio.html">Bio</a></li>
                            <li><a href="statement.html">Statement</a></li>
                            <li><a href="contacto.html">Contacto</a></li>   
                        </ul>
                    </nav>
            </div>
                    <nav class="navDesktop">
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="bio.html">Bio</a></li>
                            <li><a href="statement.html">Statement</a></li>
                            <li><a href="contacto.html">Contacto</a></li>   
                        </ul>
                    </nav>
        
        <!-- SECCION -->
        <section id="inicio" class="inicioFondo">
            <H1>Paz Secundini</H1>
            <a href="#galeria">¡</a>
        </section>
        <section id="galeria">
            <h2>Galeria</h2>
            <p class="centrado">
            <img class="imgRedonda xl" src="../img/galeria/acorn_dye.JPG" alt="imagen">
            <img class="imgRedonda xl" src="../img/galeria/almod_peel_ink_and_crystals.JPG" alt="imagen">
            <img class="imgRedonda xl" src="../img/galeria/autumn_leaves.jpg" alt="imagen">
            </p> 
            <p class="centrado">
            <a href="#bio">¡</a>
            </p>
        </section>
        <section id="bio"> 
            <h2>Bio</h2>
            <div>
                <img class="imgRedonda floatLeft" src="../img/pazsecundini4x4.png" alt="imagen de perfil de Paz Secundini">
            </div>
            <div>
                <p>
                Me gradué de Licenciada en Bellas Artes con Mención en Pintura en 2014 (U.N.R)<br>
                También me formé en oficios y he participado en exposiciones colectivas desde 2007.<br>
                Mi búsqueda siempre está en construir desde el arte y la naturaleza que es lo que me inspira. Todo mi trabajo (y mi vida) está atravesado por los materiales y los tiempos de la naturaleza, y pensado también para generar el menor impacto negativo posible en el ambiente. Me interesa el cuidado del ambiente y esto es algo que intento reflejar/incorporar en mi obra.<br>
                Crecí en Entre Ríos con fines de semana en el campo, siempre muy cercana a la naturaleza y sintiendo un inmenso amor hacia los animales. Realmente amo el invierno, el mar y los animales. Comparto mi hogar con un perro y dos gatos que siempre están cerca acompañando mi proceso creativo.<br>
                Soy una persona curiosa por lo que disfruto conociendo procesos y materiales para hacer todo lo que necesito para crear y para mi vida cotidiana.<br>
                Pinto, dibujo, bordo, hago cerámica, coso, tiño con tintes naturales, hago fieltro y papel (reciclado y de plantas), encuaderno, saco fotos (estenopeicas, instantáneas y analógicas) las cuales revelo yo misma, restauro, preparo acuarelas y tintas con pigmentos naturales, hago mis propios cosméticos y en el último tiempo he estado experimentando con biomateriales y revelados ecológicos para fotografía.<br>
                Me atraen los procesos largos, antiguos en desuso, de otra época.<br>
                Todas mis obras se relacionan entre si y tiene que ver por lo general con lugares y objetos que he habitado (o me han habitado) en esta u otra vida y con los que tengo cierta fascinación.<br>
                Soy artista de la galería Almacén de Arte (San Nicolás de los Arroyos, Pcia. De Buenos Aires) con la que he participado en ferias de arte durante los últimos años y junto con los cuales formo parte de Mercado de Arte Bonaerense.<br>
                Actualmente doy clases de cerámica en mi taller en Rosario, Argentina que es donde vivo. <br><br>
            </p>
            </div>
            <p class="centrado">
                <a href="#statement">¡</a>
            </p>
        </section>
        <section id="statement">
            <h2>Statement</h2>
            <div class="caja">
                <div class="cajaTexto">
                    <p class="centrado">
                        <img src="../img/statement1.jpg" alt="imagen">
                        <br>
                        "Trabajo con elementos orgánicos y soy de invierno"
                    </p>
                </div>
                <div class="cajaTexto">
                    <p class="centrado">
                        <img src="../img/statement2.jpg" alt="imagen">
                        <br>
                        "En lo pequeño invito a recorrer el detalle, lo íntimo"
                    </p>
                </div>
                <div class="cajaTexto">
                    <p class="centrado">
                        <img src="../img/statement3.jpg" alt="imagen">
                        <br>
                        "En mis obras los materiales que dan la forma son también la nieve, la montaña rocosa, el bosque y la cascada, es eso lo que busco atrapar" 
                    </p>
                </div>
                <div class="cajaTexto"> 
                    <p class="centrado">
                        <img src="../img/statement4.jpg" alt="imagen">
                        <br>
                        "En estos lugares tan poco habitados, como en mí, prevalece la naturaleza. Hay un arco iris como un puente entre ellos y mi taller. Quizás los he habitado en esta vida o en otras y vuelven desde la nostalgia y la admiración"</p>
                    </p>
                </div>
            </div>
            <p class="centrado">
                <a href="#contacto">¡</a>
            </p>
        </section>
        <section id="contacto">
            <div class="transparencia">
            <h2>Contacto</h2>
            <div class="flex">
            <div class="caja">
            <form action="" id="form">
                <div class="form">
                    <label for="nombre">Nombre</label>
                    <input type="text" nombre="nombre" id="nombre">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                    <input type="submit" value="Enviar mensaje">
                </div>
            </form>
            </div>
            <div class="caja">
            <ul>
                <li>
                    <a title="Instagram" href="http://www.instagram.com" target="_blank">
                    <img src="../img/instagram_socialnetwork_20033.png" alt="Instagram" />
                    Instagram
                    </a>
                </li>
                <li>
                    <a title="WhatsApp" href="https://web.whatsapp.com/" target="_blank">
                    <img src="../img/whatsappmessage_conversation_whatsap_7149.png" alt="WhatsApp" />
                    WhatsApp
                    </a>
                </li>
                <li>
                    <a title="Email" href="http://www.gmail.com" target="_blank">
                    <img src="../img/new_mail_gmailmessage_7038.png" alt="Email" />
                    Mail
                    </a>
                </li>
                <li>
                    <a title="Mapa" href="https://www.google.com/maps/place/Rosario,+Santa+Fe/data=!4m2!3m1!1s0x95b6539335d7d75b:0xec4086e90258a557?sa=X&ved=2ahUKEwijs726yZH2AhX_yDgGHWJoAWoQ8gF6BAgHEAE" target="_blank">
                    <img src="../img/map-map-marker-icon_34394.png" alt="Mapa" />
                    Ubicacion
                    </a>
                </li>
            </ul>
            </div>
            </div>
            </div>
        </section>
        <!-- PIE -->
        <footer>
            
        </footer>
        <script src="" async defer></script>
    </body>
</html>