<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]>      <html class="no-js"> <!--<![endif] -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paz Secundini</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="../img/pazsecundini4x4.png" />
    </head>
    <body>
        <!-- NAVEGACION -->
        <div class="atrasDeImagen">
            <nav>
                <a class="textIzquierda marginIzquierda" href="index.html">Paz Secundini</a>
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="bio.html">Bio</a></li>
                    <li><a href="sobre_mi_trabajo.html">Sobre mi trabajo</a></li>
                    <li><a href="contacto.html">Contacto</a></li>   
                </ul>
            </nav>
        </div>
            <nav>
                 <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="bio.html">Bio</a></li>
                    <li><a href="sobre_mi_trabajo.html">Sobre mi trabajo</a></li>
                    <li><a href="contacto.html">Contacto</a></li>   
                </ul>
            </nav>
        <!-- SECCION -->
        <header>
        <section id="inicio">
            <H1>Paz Secundini</H1>
            <p class="centrado">
            <a href="#galeria"><img src="../img/flechaAzul.png" width="40"/></a>
            </p>
        </section>
        </header> 
        <div class="separadorSection"></div>
        <section id="galeria">
            <h2>Galeria</h2>
            <p class="centrado">
            <img class="imgRedonda xl" src="../img/galeria/acorn_dye.JPG" alt="imagen" width="200">
            <img class="imgRedonda xl" src="../img/galeria/almod_peel_ink_and_crystals.JPG" alt="imagen" width="200">
            <img class="imgRedonda xl" src="../img/galeria/autumn_leaves.jpg" alt="imagen" width="200">
            </p> 
            <p class="centrado">
            <a href="#bio"><img src="../img/flechaAzul.png" width="50"/></a>
            </p>
        </section>
        <section id="bio">
            <h2>Bio</h2>
            <img class="imgRedonda floatLeft" src="../img/pazsecundini4x4.png" alt="imagen de perfil">
            <p>Me gradué de Licenciada en Bellas Artes con Mención en Pintura en 2014 (U.N.R)</p>
            <p>También me formé en oficios y he participado en exposiciones colectivas desde 2007.</p>
            <p>Mi búsqueda siempre está en construir desde el arte y la naturaleza que es lo que me inspira. Todo mi trabajo (y mi vida) está atravesado por los materiales y los tiempos de la naturaleza, y pensado también para generar el menor impacto negativo posible en el ambiente. Me interesa el cuidado del ambiente y esto es algo que intento reflejar/incorporar en mi obra.</p>
            <p>Crecí en Entre Ríos con fines de semana en el campo, siempre muy cercana a la naturaleza y sintiendo un inmenso amor hacia los animales. Realmente amo el invierno, el mar y los animales. Comparto mi hogar con un perro y dos gatos que siempre están cerca acompañando mi proceso creativo.</p>
            <p>Soy una persona curiosa por lo que disfruto conociendo procesos y materiales para hacer todo lo que necesito para crear y para mi vida cotidiana.</p>
            <p>Pinto, dibujo, bordo, hago cerámica, coso, tiño con tintes naturales, hago fieltro y papel (reciclado y de plantas), encuaderno, saco fotos (estenopeicas, instantáneas y analógicas) las cuales revelo yo misma, restauro, preparo acuarelas y tintas con pigmentos naturales, hago mis propios cosméticos y en el último tiempo he estado experimentando con biomateriales y revelados ecológicos para fotografía.</p>
            <p>Me atraen los procesos largos, antiguos en desuso, de otra época.</p>
            <p>Todas mis obras se relacionan entre si y tiene que ver por lo general con lugares y objetos que he habitado (o me han habitado) en esta u otra vida y con los que tengo cierta fascinación.</p>
            <p>Soy artista de la galería Almacén de Arte (San Nicolás de los Arroyos, Pcia. De Buenos Aires) con la que he participado en ferias de arte durante los últimos años y junto con los cuales formo parte de Mercado de Arte Bonaerense.</p>
            <p>Actualmente doy clases de cerámica en mi taller en Rosario, Argentina que es donde vivo.</p>

            <p class="centrado">
                <a href="#sobre_mi_trabajo"><img src="../img/flechaBlanca.png" width="50"/></a>
            </p>
        </section>
        <section id="sobre_mi_trabajo">
            <h2>Sobre mi trabajo</h2>
            <p>A lo largo de los años de estudio y producción de obra, he ido incorporando el conocimiento y la práctica de diferentes técnicas artesanales, oficios. Pienso que lo que hace que me sienta atraída hacia ellas es el sentimiento que tengo de pertenecer a otra época de alguna manera. Me llama mucho la atención la forma de vida de siglos atrás, cómo se relacionaban con el entorno, la estética y el uso de ciertos materiales que actualmente se van perdiendo o se encuentran en desuso. Creo que la inmediatez del mundo en el que vivimos hace que no nos detengamos a observar los procesos simples, naturales y orgánicos de aquellas cosas que intervienen en nuestra vida y así como tampoco nos preocupemos por el lugar dónde terminarán en nuestro planeta.</p>
            <p>Me parece importante recuperar y no perder las técnicas artesanales que cada territorio que habitamos nos ofrece.</p>
            <p>Siento una gran conexión con la naturaleza y los materiales que nos brinda por lo que forma gran parte de mi obra, incorporándola y siempre utilizándola como inspiración y referente. Hay una frase hermosa de Rousseau que dice: “Hay un libro abierto siempre para todos los ojos: la naturaleza”.</p>
            <p>Recolecto muchas cosas en parques y cuando viajo, es una necesidad. Arcilla que utilizo después para modelar o plantas para teñir o de las que luego extraigo pigmentos e incluso dan lugar a materiales como acuarelas, tintas y crayones.</p>
            <p>Cuando me pongo a pensar esto es algo que siempre hice, desde pequeña. Crecí en Entre Ríos, yendo mucho al campo y de ahí seguramente viene mi amor hacia lo botánico y hacia los animales. Fue siempre una especie de refugio, como un mundo dentro del mundo que me permite conectar eso que me mantiene viva, hacer arte y la observación de la naturaleza.</p>
            <p>También hay personas que cuando saben acerca de mi trabajo comienzan a prestar más atención y muchas veces recolectan tierras, hongos o plantas para mí. Me encanta esto y les estoy eternamente agradecida porque por ahí reunir suficiente cantidad de un material para pigmento por ejemplo me lleva bastante tiempo y, a su vez, hace que descubra otras posibilidades de materiales con los que trabajar. Por ejemplo el año pasado una persona que había tomado un taller conmigo me ofreció piel de almendras que iba a desechar. Nunca las hubiera tenido en cuenta pero me las trajo al taller y con ella teñí tela, hice tinta, extraje pigmento y las incorporé a un biotextil.</p>
            <p>Me considero una artista polifacética, pinto, dibujo, bordo, hago cerámica, coso, tiño con tintes naturales, hago fieltro y papel (reciclado y de plantas), encuaderno, saco fotos (estenopeicas, instantáneas y analógicas), restauro, preparo acuarelas y tintas con pigmentos naturales, hago mis propios cosméticos y en el último tiempo he estado experimentando con biomateriales. Dentro de lo que estoy creando, centrándome especialmente en la cerámica que es a lo que principalmente me estoy dedicando y que es el material con el que construyo mis esculturas actualmente, hay también objetos utilitarios. La idea de crear estos objetos surge por la necesidad de embellecer de alguna manera lo cotidiano, son también objetos únicos construidos enteramente a mano. Me parece que hay un mayor disfrute por ejemplo si nos tomamos un té en una taza que nos despierta algo bello que en cualquier otra que podríamos tener. </p>
            <p>Y si bien el material es el mismo, en las esculturas puedo tener mayor libertad en cuanto a las formas, ya que no estoy atada a cierta funcionalidad de los utilitarios.</p>
            <p>Puedo decir que soy una artista artesana, no solo por los resultados que obtengo de mis trabajos sino también porque uso procesos artesanales para obtener las materias primas o materiales que voy a utilizar en mis trabajos.</p>
            <p>Mi proceso creativo, como artista, comienza con la extracción de los materiales de la naturaleza obteniendo de ahí pigmentos, cenizas, arcillas, entre otros que proceso en mi taller. Cada material tiene un proceso especial según el soporte donde lo voy a colocar y por lo general suelen ser largos, me llevan varias semanas.</p>
            <p>Además, el entorno natural, me ofrece algunos objetos con los que tengo cierta fascinación y puedo utilizar como herramientas, por ejemplo caracolas, bellotas, líquenes, etc.  La arcilla tiene la capacidad de dejarse imprimir y copiar muy bien los detalles, entonces pueden observar que mis obras tienen muchas de estas impresiones que me recuerdan a fósiles.</p>
            <p>Veo el material y enseguida aparece una forma y ahí están los colores, los colores son lo que siempre está antes que nada. Son lo primero que aprendí siendo pequeña y podría recordar todo solo por colores y aromas. Mi preferido siempre: el azul cobalto. Está casi siempre presente en mis esculturas, me recuerda al océano.</p>
            <p>Pienso que es muy poético buscar y obtener color de un entorno determinado, como si esto me posibilitara crear y/o ponerle un color a cada lugar.</p>
            <p>Es importante decir que intento tomar siempre pequeñas cantidades o lo que la naturaleza me ofrece, no pretendo encapricharme y dañarla por tomar demás. Hay que ser muy consciente de ello. Por lo general con poquito, se puede hacer un montón y de paso así nos cuestionamos las formas de producción que tenemos en estos tiempos, en todo sentido.</p>
            <p class="centrado">
                <a href="#contacto"><img src="../img/flechaAzul.png" width="50"/></a>
            </p>
        </section>
        <section id="contacto">
            <h2>Contacto</h2>
            <form action="" id="form">
                <fieldset>
                    <legend>Si llegaste hasta acá dejame un mensaje</legend>
                    <table border="1">
                        <td>
                            <label for="nombre">Nombre</label>
                            <input type="text" nombre="nombre" id="nombre">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
                        </td>
                    </tr>
                </table>
                <input type="reset" value="Cancelar">
                <input type="submit" value="Enviar mensaje">
                <br>
                
            </fieldset>
            </form>
        </section>
        <!-- PIE -->
        <footer>
            <a title="Instagram" href="http://www.instagram.com" target="_blank">
                <img src="../img/instagram_socialnetwork_20033.png" width="3%" alt="Instagram" />
            </a>
            <a title="WhatsApp" href="https://web.whatsapp.com/" target="_blank"><img src="../img/whatsappmessage_conversation_whatsap_7149.png" width="3%" alt="WhatsApp" /></a>
            <a title="Email" href="http://www.gmail.com" target="_blank"><img src="../img/new_mail_gmailmessage_7038.png" width="3%" alt="Email" /></a>
            <a title="Mapa" href="https://www.google.com/maps/place/Rosario,+Santa+Fe/data=!4m2!3m1!1s0x95b6539335d7d75b:0xec4086e90258a557?sa=X&ved=2ahUKEwijs726yZH2AhX_yDgGHWJoAWoQ8gF6BAgHEAE" target="_blank"><img src="../img/map-map-marker-icon_34394.png" width="3%" alt="Mapa" /></a>
        </footer>
        <script src="" async defer></script>
    </body>
</html>