<h1>Pruebas</h1>
<a href="#form">Ir al formulario</a>
<h2>Preparar mate</h2>
    <ol>
        <li>Calentar agua</li>
        <li>Poner yerba al mate</li>
        <li>Poner agua al mate</li>
        <li>Poner bombilla</li>
        <li>Tomar</li>
    </ol>
<h2>Nombres</h2>
    <ul>
        <li>Juan</li>
        <li>Pedro</li>
        <li>Pepe</li>
        <li>Ruperto</li>
        <li>Tomas</li>
    </ul>
    <br><br><br><br><br><br><br><br><br><br>
<h2>Formulario</h2>
    <form action="POST" id="form">
        <legend>Informacion personal</legend>
        <table border="1">
        <tr>
            <td>
                Hombre
                <input type="radio" name="sexo" value="Hombre">
                Mujer
                <input type="radio" name="sexo" value="Mujer">
                No binario
m                 <input type="radio" name="sexo" value="No binario">
            </td>
        </tr>
        <tr>
            <td>
                <label for="nombre">Nombre</label>
                <input type="text" nombre="nombre">
            </td>
        </tr>
        <tr>
            <td>
                <label for="apellido">Apellido</label>
                <input type="text" nombre="apellido">
            </td>
        </tr>
        <tr>
            <td>
            <legend>Talle
            <select name="talles" id="1">Talles
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l">L</option>
            </select>
            </legend>
            </td>
        </tr>
    </table>
    <input type="reset" value="Enviar formulario">
    </form>
   
<audio src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Richard_Wagner_-_Ride_of_the_Valkyries_original.ogg" preload="none" controls></audio>
<br><br>
<video src="https://upload.wikimedia.org/wikipedia/commons/transcoded/0/04/Play_fight_of_polar_bears_edit_1.ogv/Play_fight_of_polar_bears_edit_1.ogv.240p.vp9.webm" width="560"></video>
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OQ2e6mCRTf0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>