<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!-- [if gt IE 8]>      <html class="no-js"> <!--<![endif] -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Paz Secundini</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="../img/pazsecundini4x4.png" />
    </head>
    <body class="grid">
        <!-- NAV MOBILE -->
            <nav class="navMobile">
                 <ul class="ulMobile">
                    <li><a href="index.html"><img src="../img/lluvioso.gif" alt=""></a></li>
                    <li><a href="galeria.html"><img src="../img/paleta-de-pintura.gif" alt=""></a></li>
                    <li><a href="bio.html"><img src="../img/redes-sociales.gif" alt=""></a></li>
                    <li><a href="statement.html"><img src="../img/cuaderno.gif" alt=""></a></li>
                    <li><a href="contacto.html"><img src="../img/mensaje.gif" alt=""></a></li>   
                </ul>
            </nav>
            <!-- NAV DESKTOP -->
            <div class="atrasDeImagen">
                    <nav class="navDesktop">
                        <a class="textIzquierda marginIzquierda negrita" href="index.html">Paz Secundini</a>
                        <ul class="ulDesktop">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="bio.html">Bio</a></li>
                            <li><a href="statement.html">Statement</a></li>
                            <li><a href="contacto.html">Contacto</a></li>   
                        </ul>
                    </nav>
            </div>
                    <nav class="navDesktop">
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="galeria.html">Galeria</a></li>
                            <li><a href="bio.html">Bio</a></li>
                            <li><a href="statement.html">Statement</a></li>
                            <li><a href="contacto.html">Contacto</a></li>   
                        </ul>
                    </nav>
        <!-- SECCION -->
        <section id="statement">
            <h2>Statement</h2>
            <div class="caja">
                <div class="cajaTexto">
                    <p class="centrado">
                        <img src="../img/statement1.jpg" alt="imagen">
                        <br>
                        "Trabajo con elementos orgánicos y soy de invierno"
                    </p>
                </div>
                <div class="cajaTexto">
                    <p class="centrado">
                        <img src="../img/statement2.jpg" alt="imagen">
                        <br>
                        "En lo pequeño invito a recorrer el detalle, lo íntimo"
                    </p>
                </div>
                <div class="cajaTexto">
                    <p class="centrado">
                        <img src="../img/statement3.jpg" alt="imagen">
                        <br>
                        "En mis obras los materiales que dan la forma son también la nieve, la montaña rocosa, el bosque y la cascada, es eso lo que busco atrapar" 
                    </p>
                </div>
                <div class="cajaTexto"> 
                    <p class="centrado">
                        <img src="../img/statement4.jpg" alt="imagen">
                        <br>
                        "En estos lugares tan poco habitados, como en mí, prevalece la naturaleza. Hay un arco iris como un puente entre ellos y mi taller. Quizás los he habitado en esta vida o en otras y vuelven desde la nostalgia y la admiración"</p>
                    </p>
                </div>
            </div>
        </section>
        <!-- PIE -->
        <footer>
            
        </footer>
        <script src="" async defer></script>
    </body>
</html>